@if(snackbarService.hasLoaded()){
  @for(snackbar of snackbarService.snackBar(); track snackbar.id){
    <div class="w-full h-20 my-4 bg-white rounded-md shadow-md flex"
    [class.slide-up]="snackbar.isSliding"
    [class.fade-out]="snackbar.isClosed">
      <div [class]="'w-1/5 rounded-l-md flex items-center justify-center' + ' ' + getClass('bg',snackbar.iconType)">
        <ng-container *ngTemplateOutlet="getIconTemplate(snackbar.iconType)"></ng-container>
      </div>
      <div class="w-7/10 max-w-7/10 py-4 pl-4">
        @if(snackbar.headingText && snackbar.messageText){
          <h6 [class]="'truncate text-sm mb-2 ' + getClass('text',snackbar.iconType)">{{snackbar.headingText}}</h6>
          <p class="line-clamp-2 text-xs">{{snackbar.messageText}}</p>
        }
        @if(snackbar.headingText && !snackbar.messageText){
          <p class="line-clamp-2 text-xs">{{snackbar.headingText}}</p>
        }
      </div>
      <div class="w-1/10 max-w-1/10 flex items-center justify-center py-4 pr-4">
        <a (click)="close(snackbar.id)" [class]="'cursor-pointer ' + getClass('text',snackbar.iconType)">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </a>
      </div>
    </div>
  }
}







<!-- Check -->
<ng-template #successIcon>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
</ng-template>

<!-- info -->
<ng-template #infoIcon>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
  </svg>
</ng-template>

<!-- warn -->
<ng-template #warnIcon>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
  </svg>
</ng-template>

<!-- danger -->
<ng-template #dangerIcon>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
  </svg>
</ng-template>
